
<div class="weather-comp">
    <img *ngIf="weatherData != undefined && weatherData != null" class="weather-img" id="weather-img" src="{{getWeatherCode()}}" alt="{{getWeatherCode()}}"/>
    <div class="location-header">
        <h1 *ngIf="weatherData!= undefined && weatherData != null">{{weatherData.location.name.split(",")[0]}}</h1>
    </div>
    <div *ngIf="weatherData != undefined && weatherData != null" class="current-hour">
        <h3>Time: T{{weatherData.timelines.hourly[0].time.split("T")[1]}}</h3>
        <p>Date: {{weatherData.timelines.hourly[0].time.split("T")[0]}}</p>
        <p>Temperature: {{weatherData.timelines.hourly[0].values.temperature}}℃</p>
        <p>Feels like: {{weatherData.timelines.hourly[0].values.temperatureApparent}}℃</p>
        <p>Humidity: {{weatherData.timelines.hourly[0].values.humidity}}%</p>
        <p>Dewpoint: {{weatherData.timelines.hourly[0].values.dewPoint}}℃</p>
        <p>Wind Direction: {{weatherData.timelines.hourly[0].values.windDirection}} degrees</p>
        <p>Wind Speed: {{weatherData.timelines.hourly[0].values.windSpeed}} m/s</p>
    </div>
    <div *ngIf="weatherData != undefined && weatherData != null" class="hourly-data">
        <div *ngFor="let hour of getImportantHours()" class="single-hour-data">
            <h3>Time: T{{hour.time.split("T")[1]}}</h3>
            <p>Date: {{hour.time.split("T")[0]}}</p>
            <p>Temperature: {{hour.values.temperature}}℃</p>
        </div>
    </div>
    <div class="api-action">
        <form (submit)="testAPI()">
            <input class="location" type="text" name="location" id="location" placeholder="Enter City Name..." required="required" [(ngModel)]="location"/>
            <button class="api-button" type="submit">Check Location</button>
        </form>
    </div>
</div>
