
<div class="weather-comp">
    <img *ngIf="weatherData != undefined && weatherData != null" class="weather-img" id="weather-img" src="/tomorrow-weather-codes-master/V2_icons/large/png/{{currentWeatherCode}}" alt="/tomorrow-weather-codes-master/V2_icons/large/png/{{currentWeatherCode}}"/>
    <div *ngIf="weatherData != undefined && weatherData != null" class="current-hour">
        <h3>Time: {{weatherData.timelines.hourly[0].time}}</h3>
        <p>Temperature: {{weatherData.timelines.hourly[0].values.temperature}}℃</p>
        <p>Feels like: {{weatherData.timelines.hourly[0].values.temperatureApparent}}℃</p>
        <p>Humidity: {{weatherData.timelines.hourly[0].values.humidity}}%</p>
        <p>Dewpoint: {{weatherData.timelines.hourly[0].values.dewPoint}}℃</p>
        <p>Wind Direction: {{weatherData.timelines.hourly[0].values.windDirection}} degrees</p>
        <p>Wind Speed: {{weatherData.timelines.hourly[0].values.windSpeed}} m/s</p>
    </div>
    <div *ngIf="weatherData != undefined && weatherData != null" class="hourly-data">
        <div *ngFor="let hour of getImportantHours()" class="single-hour-data">
            <p>Time: T{{hour.time.split("T")[1]}}</p>
            <p>Temperature: {{hour.values.temperature}}℃</p>
        </div>
    </div>
    <div class="api-action">
        <form (submit)="testAPI()">
            <input type="text" name="location" id="location" placeholder="Enter City Name..." required="required" [(ngModel)]="location"/>
            <button type="submit">Test API</button>
        </form>
    </div>
</div>
